<div class="container">
  <h1>Resources Library</h1>

  <div class="main-tabs">
    <button class="main-tab" 
            [class.active]="selectedTab() === 'prompts'" 
            (click)="switchTab('prompts')">Prompts</button>
    <button class="main-tab" 
            [class.active]="selectedTab() === 'rubrics'" 
            (click)="switchTab('rubrics')">Rubrics</button>
    <button class="main-tab" 
            [class.active]="selectedTab() === 'mentor-texts'" 
            (click)="switchTab('mentor-texts')">Mentor Texts</button>
    <button class="main-tab" 
            [class.active]="selectedTab() === 'metrics'" 
            (click)="switchTab('metrics')">Metrics</button>
  </div>

  @if (selectedTab() === 'metrics') {
    <app-metrics />
  }
  @if (selectedTab() === 'prompts') {
    <app-prompts />
  }
  @if (selectedTab() === 'rubrics') {
    <app-rubrics />
  }
  @if (selectedTab() === 'mentor-texts') {
    <app-mentor-texts />
  }
</div>